{% extends "MainBundle:eshop:main.html.twig" %}

{% block content %}

<div class="container main-container">

       <form id="jsform" >

           <div class="row">
               <div class="breadcrumbDiv col-lg-12">
                   <ul class="breadcrumb">
                       <li><a href="{{path('main_homepage')}}">Home</a></li>
                       <li><a href="account.html">ajouter produits</a></li>
                   </ul>
               </div>
           </div>

        <h3 class="section-title style2 text-center"><span>les produits disponibles</span></h3>
        <br>




                    <div  id="xcontainer" >





    </div></form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        (function ($) {
            var form = $('#jsform'),
                    jsFormUrl = '',
                    container = $('#xcontainer');


            function init() {
                jsFormUrl = '{{ path('venteflash_Listing',{'id': id, 'operation':1}) }}';
            }
            function ajaxPost(action) {
                container.addClass('working');
                $.ajax({
                    type: "POST",
                    data: form.serialize(),
                    url: jsFormUrl,
                    success: function (data) {
                        container.removeClass('working');
                        init();
                        if (!action) {
                            container.empty().hide().html(data).fadeIn(3000);
                        } else
                            ajaxPost();
                    },
                    error: function () {
                        alert('service denied');
                        container.removeClass('working');
                    }
                });
                return false;
            }

            init();
            setTimeout(ajaxPost, 1);


        })(jQuery);
    </script>
{% endblock %}


