<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste Utilisateurs</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Email</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td {% if entity.enabled %}class="active-row"{% endif %}><input type="checkbox" name="users[]" value="{{ entity.id }}"></td>
                    <td>{{ entity.username }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{% if(entity.enabled)%} <span class="label label-success">Activer</span> {% else %} <span class="label label-danger">BANNED</span> {% endif %}


                    </td>
                    <td class="hidden-print">
                        <div class="text-center">
                            <a class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="afficher" href="#"><span class="glyphicon glyphicon-search"></span></a>
                            <a class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="modifier" href="#"><span class="glyphicon glyphicon-edit"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
        </div>
    </div></section>